<div class="card border-0" style="width: 18rem;">
  <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="https://avatars2.githubusercontent.com/u/64441375?s=460&u=74b42f47ad7cb992f8777b7624758351c5ea0fb0&v=4" alt="Imagem de capa do card">
  </div>

  <div class="card-body">
    <h5 class="card-title text-center text-monospace fontn">{{nome}}</h5>
    <p class="card-text text-center text-monospace font">Estudante Full Stack na Generation Brasil.</p>

    <a href="https://www.linkedin.com/in/matheus-alexandrino/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>

    <a href="https://github.com/itsalexandrino" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>

  </div>
</div>